.header {
  position: relative;
  height: 200px;
  background: linear-gradient(135deg, #00ff00, #000);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('../images/TopBg.jpg'); /* Replace 'your-image-url.jpg' with the URL of your image */
  background-size: cover; /* Ensures the background image covers the entire body */
  background-position: center; /* Centers the background image */
}

.meno {
  position: absolute;
  top: 10px;
  bottom:10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.browse {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: #00ff00;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main {
  padding: 20px;
}

.intro {
  text-align: center;
  font-family: 'Consolas, \'Courier New\', monospace';
  font-size: 43px;
  color: #fff;
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
       1px  1px 0 #000,
      -2px -2px 0 #000,
       2px -2px 0 #000,
      -2px  2px 0 #000,
       2px  2px 0 #000;
  }
}

.form-section {
  margin-top: 20px;
}

.blog-form {
  display: flex;
  flex-direction: column;
}

.blog-form input,
.blog-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #00ff00;
  border-radius: 5px;
  background: transparent;
  color: #fff;
}

.blog-form textarea {
  height: 150px;
}

.blog-form button {
  padding: 10px 20px;
  background: #00ff00;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
